<div class="col-3 card-container">
  <%= image_tag "pikapika.jpeg", class: "card-image" %>
</div>
<%= link_to "https://www.naver.com", class: "col-6 card-container card-content" do %>
    <p>제목: 재성형은피카츄보다귀여웡뿌잉뿌잉[반값]</p>
    <p>쇼핑몰 이름: 싸게싸게더싸게옥션</p>
    <p>가격: 1000원</p>
    <p>등록일: 2017.07.03</p>
<% end %>
