<section class="hero is-light" style="margin-bottom: 1.5rem">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        검색 결과
      </h1>
      <h2 class="subtitle">
        <%= @keys %>로 검색한 결과입니다.
      </h2>
    </div>
  </div>
</section>

<div class="container">
  <% if @results.count == 0 %>
    <div class="notification" style="margin:50px">
      검색 결과가 없습니다.
    </div>
  <% end %>
  <% @results.each do |result| %>
    <%= render partial: 'card', locals: {result: result} %>
  <% end %>
</div>
