<div class="container">
  <% for i in 1..10 %>
    <div class="row">
      <%= render 'card' %>
      <div class="col-1 d-flex justify-content-center align-items-center">
        <div>
          <%= link_to '/mypage/toggle_like', remote: true do %>
            <div class="card-checkbox-box" data-index=<%= i %>>
              <%= image_tag 'check.png', class: "check" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
